body {
    margin: 0;
    padding: 0;
}
#canva {
    background-color: midnightblue;
    max-width: 600px;
    min-width: 500px;
    min-height: 80px;
    max-height: 150px;
    overflow-y: scroll;
}

/* constrol */

#canva1 {

    height: 500px;
    width: 500px;
    background-color: rgb(153, 119, 57);

    /* margin-left: 50px;
    margin-top: 50px; */

    /* margin: 50px 0 0 50px; */

    /* margin: 0 50px; */

    padding: 50px 50px 0 50px;
}

#inside-block {

    background-color: orangered;

    /* margin-top: 50px; */

    padding: 50px;

    /* border: 10px;

    border-style: solid;

    border-color: steelblue; */

    border: 10px solid steelblue;

    width: 100%;

    box-sizing: border-box;

}

#inline-box > span {

    background-color: teal;
    padding: 20px;
    margin: 0 10px;
    width: 100%;

}

#block-wrap > div {

    display: inline-block;
    background-color: tomato;
    /* margin: 0 20px; */
    width: 500px;
    min-width: 400px;
    max-width: 500px;
}

#position-wrap {
    background-color: slategray;
    /* padding: .5em; */
    position: relative;
    height: 400px;
}

#position-wrap > div {

    height: 100px;
    
}

#position-wrap > div:first-child {

    background-color: tomato;

}

#position-wrap > div:last-child {
    background-color: teal;
}

#absolute {
    position: absolute;
    /* width: 300px; */

    bottom: 2em;
    top: 3em;
    left: 2em;
    right: 2em;
}

#fix {
    height: 500px;
    width: 4em;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}

#float-wrap {

    background-color: steelblue;
    padding: 2em;
}

#float-wrap > div {

    height: 100%;
}

#left {
    background-color: orangered;
    float: left;
    width: 200px;
}

#right {
    background-color: saddlebrown;
    height: 100%;
}

.clear {
    clear: both;
}

#index-wrap {

    background-color: seagreen;
    position: relative;
    width: 100%;
    height: 300px;

}

#index-wrap > div {

    width: 200px;

    height: 200px;

    position: absolute;

}

#box1 {
    background-color: sienna;
    z-index: 1;
}

#box2 {
    background-color: slateblue;

    left: 100px;
    z-index: 2;
}

#box3 {
    background-color: darkgoldenrod;

    top: 100px;
}